/* CSS VARIABLES */
:root {
  --scissors-color: hsl(39, 89%, 49%);
  --paper-color: hsl(230, 89%, 62%);
  --rock-color: hsl(349, 71%, 52%);
  --cyan: hsl(189, 59%, 53%);

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --white: #fff;

  --bg-color: hsl(237, 49%, 15%);
}

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL CSS */
body {
  background-color: var(--bg-color);
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* =========================== RULES =========================== */

.rules {
  position: relative;
  background-color: var(--white);
  display: none;
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  z-index: 2;
}

.display {
  display: block;
}

.rules-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.rules-heading {
  font-size: 2rem;
  color: var(--dark-text);
  text-transform: uppercase;
}

/* =========================== END OF RULES =========================== */

/* =========================== MAIN-SECTION =========================== */
.main-container {
  width: 60%;
  height: 90vh;
  margin: auto;
  position: relative;
}

/* ====================== TOP-SECTION ====================== */
.top-section {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid var(--header-outline);
  border-radius: 10px;
}

.scores {
  display: flex;
  gap: 50px;
}

.score {
  background-color: var(--white);
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scoreHeading {
  color: var(--score-text);
  text-transform: uppercase;
}

#computerNumber,
#playerNumber {
  font-size: 3rem;
  color: var(--dark-text);
}

/* ====================== END OF TOP-SECTION ====================== */

/* ====================== BUTTONS-SECTION ====================== */
.buttons-section {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.button {
  padding: 30px;
  width: 50px;
  height: 50px;
  border: 15px solid;
  border-radius: 50%;
  background-color: var(--white);
}

#rock {
  border-color: var(--rock-color);
}

#paper {
  border-color: var(--paper-color);
}

#scissors {
  border-color: var(--scissors-color);
}

/* ====================== END OF BUTTONS-SECTION ====================== */

.rules-btn {
  border: 2px solid var(--header-outline);
  background-color: transparent;
  color: var(--white);
  font-size: 1.5rem;
  padding: 5px 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.rules-btn:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}

/* ====================== MEDIA QUERIES ====================== */
@media (max-width: 1000px) {
  .main-container {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .main-container {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .top-section {
    flex-direction: column;
  }
}
